# Params file for variables
prefix_name="dev"
external_network="ext-net"
image="debian9-latest"
bastion_flavor="standard-pi-2.2"
http_proxy_flavor="standard-pi-2.2"
app_flavor="standard-pi-2.2"
vol_size=10
vol_type="ceph"
key_name="debian"
no_proxy=".api.my-cloud.org"
dns_nameservers=["10.1.1.129", "10.1.2.130"]
dns_domainname=["my-cloud.org", "my-domain.org"]
nexus_server="nexus.my-cloud.org"
tinyproxy_upstream=["upstream proxy1:3128 nexus.my-cloud.org","no upstream .api.my-cloud.org","upstream proxy2:80"]
# tinyproxy_proxy_authorization=""
mirror_docker="http://debian.my-cloud.org/docker-debian"
mirror_docker_key="http://debian.my-cloud.org/0EBFCD88"
ssh_authorized_keys=["ssh-rsa AAAAB3NAZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZbtL imported-openssh-key"]

dockerhub_login="<CHANGE_ME>"
dockerhub_token="<CHANGE_ME>"
github_token="<CHANGE_ME>"
docker_registry_username="<CHANGE_ME>"
docker_registry_token="<CHANGE_ME>"
app_install_script="https://my-site.org/install-script.sh"

#bastion_count=1
#http_proxy_count=1
#app_count=3
