# Params file for variables
prefix_name="dev"
external_network="ext-net"
image="debian9-latest"
bastion_flavor="standard-pi-2.2"
http_proxy_flavor="standard-pi-2.2"
app_flavor="standard-pi-2.2"
vol_size=10
vol_type="ceph"
key_name="debian"
no_proxy=".api.my-cloud.org"
dns_nameservers=["10.1.1.129", "10.1.2.130"]
dns_domainname=["my-cloud.org", "my-domain.org"]
nexus_server="nexus.my-cloud.org"
tinyproxy_upstream=["upstream proxy1:3128 nexus.my-cloud.org","no upstream .api.my-cloud.org","upstream proxy2:80"]
# tinyproxy_proxy_authorization=""
mirror_docker="http://debian.my-cloud.org/docker-debian"
mirror_docker_key="http://debian.my-cloud.org/0EBFCD88"
ssh_authorized_keys=["ssh-rsa AAAAB3NAZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZbtL imported-openssh-key"]

dockerhub_login="<CHANGE_ME>"
dockerhub_token="<CHANGE_ME>"
github_token="<CHANGE_ME>"
docker_registry_username="<CHANGE_ME>"
docker_registry_token="<CHANGE_ME>"
metric_enable=true
#metric_variables={METRIC_BRANCH = "master"}

# example log stack (based on EKF)  https://github.com/pli01/log-stack/
log_count=1
log_install_script="https://raw.githubusercontent.com/pli01/log-stack/master/ci/docker-deploy.sh"
log_variables={ OS_AUTH_URL="https://identity.api.my-cloud.org/v3",
OS_CACERT="/etc/ssl/certs/ca-certificates.crt",
OS_IDENTITY_API_VERSION="3",
OS_INTERFACE="public",
OS_PROJECT_DOMAIN_NAME="Default",
OS_PROJECT_NAME="my-app-dev",
OS_REGION_NAME="region1",
OS_USER_DOMAIN_NAME="Default",
OS_USERNAME="<CHANGE_ME>",
OS_PASSWORD="<CHANGE_ME>",
APP_DATA="/DATA",
DISK_SPACE=40,
}

app_install_script="https://my-site.org/install-script.sh"
# app_variables={PORT = 80, URL = "http://0.0.0.0/"}

#bastion_count=1
#http_proxy_count=1
#app_count=3
